.account {
	margin-top: 1rem;
    
	a {
        text-decoration: none;
		color: #000;
	}
    
	.title {
        padding: 1rem 2rem;
		display: flex;
		align-items: center;
		font-size: 1.2rem;
        
		span {
            margin-left: 0.5rem;
			user-select: none;
		}
	}
	.main {
        display: flex;
		height: calc(80vh - 21vh);
		max-height: calc(80vh - 21vh);
		overflow-y: auto;
		.outlet {
			flex: 1;
		}
	}
}
