.Profile {
	padding: 0 2rem;

	form #file {
		display: none;
	}

	.user_background {
		width: 100%;
		height: 40vh;

		.no_bg {
			width: 100%;
			height: 100%;
			background: #e3e3e3;
			border-radius: 10px;
		}
	}

	.profile {
		position: absolute;
		top: 65%;
		display: flex;
		padding: 0 2rem;
		align-items: center;
        width: calc(100% - 30%);

		.profile_photo {
			width: 130px;
			height: 130px;
			margin-right: 1rem;
			border-radius: 50%;

			.no_pp {
				width: 100%;
				height: 100%;
				background: #e3e3e3;
				border: 4px solid #fff;
				border-radius: 100%;
			}
		}
	}
    .other-data {
        margin-top: 4rem;
        .username {
            font-size: 1.3rem;
            font-weight: bold;
            user-select: none;
        }
        .descOrBio {
            font-size: .9rem;
        }
        padding-bottom: 1rem;
        border-bottom: 1px solid #838383;
    }
}
