*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
}
@font-face {
    font-family: "Hind Bold";
    src: url("./Font/Hind-Bold.ttf");
}
@font-face {
    font-family: "Hind Light";
    src: url("./Font/Hind-Light.ttf");
}
@font-face {
    font-family: "Hind Medium";
    src: url("./Font/Hind-Medium.ttf");
}
@font-face {
    font-family: "Hind";
    src: url("./Font/Hind-Regular.ttf");
}
@font-face {
    font-family: "Hind SemiBold";
    src: url("./Font/Hind-SemiBold.ttf");
}
@font-face {
    font-family: 'Varela Round';
    src: url("./Font/VarelaRound-Regular.ttf");
}

body {
	font-family: "Varela Round";
}
.icon {
	display: flex;
	align-items: center;
	justify-content: center;
}
a {
    text-decoration: none;
}